---
layout: post-index
permalink: /categories/
title: Category Archive
description: "An archive of posts sorted by category."
image:
  feature: background.jpg
---


lets test.
{\% for category in site.categories %} <li><a href=”/categories/{{ category | first }}/” title=”view all posts”>{{ category | first }} {{ category | last | size }}</a> </li> {\% endfor %} </ul> </pre>


{% for post in site.posts %}
    {% if post.categories contains "PeppyPapers" %}
    say sth.
    {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
    {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

  	{% if forloop.first %}
    <article>
      <h2 id="{{ this_year }}-ref">{{ this_year }}</h2>
      <ul>
    {% endif %}

        <li class="entry-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>

    {% if forloop.last %}
      </ul>
    </article>
    {% else %}
        {% if this_year != next_year %}
          </ul>
        </article>
        <article>
          <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
          <ul>
        {% endif %}
    {% endif %}
    {% endif %}
{% endfor %}
