@import url(https://fonts.googleapis.com/css?family=Snippet);

#me-pic {
  width: 500px;
  float:right;
  padding-bottom:50px;
}

footer {
    right: 10px;
    bottom: 10px;
    width: 400px;
    float: right;
}

body {
    background-color: #F2F2EF;
    padding:50px;
    font: Snippet, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight:300;
}

#main {
    margin-top: 80px;
    width: 520px;
}
#main p {
    font-size: 28px;
}

#main ul {
  list-style:none;
  height:40px;
  padding:0;
  background: #eee;
  width:264px;
  border-radius:5px;
}

#main li {
  width:89px;
  float:left;
  height:40px;
}

#main li:first-child a {
  border-radius:5px 0 0 5px;
}

#main li:last-child a {
  border-radius:0 5px 5px 0;
}

#main ul a {
  line-height:1;
  font-size:11px;
  color:#999;
  display:block;
  text-align:center;
  padding-top:14px;
  height:28px;
}

#main ul a:hover {
  color:#999;
}

#main ul a:active {
  -webkit-box-shadow: inset 0px 2px 2px 0px #ddd;
  -moz-box-shadow: inset 0px 2px 2px 0px #ddd;
  box-shadow: inset 0px 2px 2px 0px #ddd;
}

strong {
  color:#222;
  font-weight:700;
}

#main ul li + li {
  width:88px;
}

#main ul li + li + li {
  border-right:none;
  width:89px;
}

#main ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}



#nav-bar .about {
    background-color: #D6E8E7; 
}
#nav-bar .blog {
    background-color: #E5E0D5; 
}
#nav-bar .projects {
    background-color: #F0E8E7;
}
#nav-bar {
    margin-top: 35px;
}

