.ctfGlassPanel {
  padding: 0px 20px 5px 20px;
  background: rgba(255, 255, 255, 0.67);
  border-radius: 0px;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.7);
  width: 500px;
  margin-top: 100px;
  float: left;
}

.ctfMotto {
    font-family: 'Segoe UI', 'Myriad', sans-serif;
    font-style: italic;
    font-weight: lighter;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}

.ctfBigPanel {
  padding: 40px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 0px;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.7);
  width: 1100px;
  margin-top: 60px;
  float: left;
}

body.ctfBackground {
	margin:0;
	padding:0;
	background: #000 url('/images/background.jpg') center top fixed no-repeat;
	-moz-background-size: cover;
	background-size: cover;
}

.ctfBackgroundDescription {
  border-radius: 0px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 600px;
  margin-top: 100px;
  float: right;
  color: rgba(255, 255, 255, 0.8)
}