<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="author" content="{{ site.author.name }}">
        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="stylesheet" href="/assets/css/pygment_trac.css">
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link href="http://feeds.feedburner.com/{{site.feedburner}}" rel="alternate" title="{{ site.title }}" type="application/atom+xml">
        <script type="text/javascript" src="/assets/js/jquery-1.7.1.min.js"></script>
    </head>

    <body data-offset="40" data-spy="scroll">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="logo" href="{{ site.site_url }}">{{ site.title }}</a>
                    <ul class="nav">
                        <li class="about"><a href="http://hazy.me">about</a></li>
                        <li class="sharing"><a href="/sharing.html">sharing</a></li>
                        <li class="archive"><a href="/archive.html">archive</a></li>
                        <li class="tags"><a href="/tags.html">tags</a></li>
                        <li class="rss"><a href="http://feeds.feedburner.com/{{ site.feedburner}}">rss</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            {{ content }}
        </div>
        <footer id="site-footer">
            <p><small>Copyright 2012, Flynn Wang.</small></p>
        </footer>
        {% include analytics %}
    </body>
</html>
