---
layout: default
---
<div class="layout-post">
    <article>
    <div class="title">
        <h1 id="article-title">{{ page.title }}</h1>
    </div>
    <div class="article-info">
        <span>{{ page.date | date_to_string }}</span><span>by</span><span>{{ site.author.name }}</span>
    </div>
    <div class="content" data-spy="scroll">
        {{ content }}
    </div>
    </article>

    <hr>
    {% include comments %}
</div>

<div id="outline-bar">
    <ul class="nav nav-list">
        <li><a class="title-nav" href="#article-title">{{ page.title }}</a></li>
    </ul>
</div>

<script type="text/javascript" src="/assets/js/bootstrap-scrollspy.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() { 
    var titles = $('article h2'),
        outline = $('#outline-bar ul'),
        index = 1
        
    $.each(titles, function(i, t) {
        var title = $(t),
            id = "subtitle-" + (index++)
        title.attr('id', id)
        outline.append('<li><a href="#' + id + '">' + title.text() + '</a></li>')
    });
    $('#outline-bar a').click(function(evt) {
        evt.preventDefault()
        $('html,body').animate({scrollTop:$(this.hash).offset().top - 20}, 400)
    })

    var spy = function() {
        $('[data-spy="scroll"]').each(function () {
          var $spy = $(this).scrollspy('refresh')
        });
    }
    setTimeout(spy, 1000)
});
</script>
